body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  margin: 0;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }
  

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

svg {
  height: 60px;
  width: 60px;
  z-index: 160;
  position: relative;;
}
svg path{
  fill: #fff;
}
  .hidden {
  display: none; }

.main-header{
  position: relative;
  min-height: 657px;
  padding-top: 20px;
}
.main-header.main-color-bg{
    background-color: dimgrey;
}
.loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader-inner {
    background-image: url("../img/preloader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}
.logo{
  float: left;
}
.toggle-menu{
  width: 60px;
  height: 60px;
  float: right;
  position: fixed;
  z-index: 151;
  border: none;
  background: none;
  right: 8%;
  top: 20px;
}
#menuToggle {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 6px;
}

#menuToggle input {
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

#menuToggle span{
  width: 55px;
  height: 8px;
  margin-bottom: 10px;
  background: #aba3a3;
  border-radius: 4px;
  -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  transition: all .5s cubic-bezier(.08,.81,.87,.71);
}

#span1 {
  transform-origin: 4px 0px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: white;
  transform: rotate(45deg) translate(8px);
}
#menuToggle input:checked ~ #span2 {
  background-color: white;
  transform: rotate(495deg) translate(4px);   
}
#menuToggle input:checked ~ #span3 {
  background-color: white;
  transform: rotate(45deg);
  opacity: 0;
}
.top-menu{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.9);
  z-index: 150;
  right: 0;
  top: 0;
  display: none;
}
.top-menu ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.top-menu ul>li{
  padding: 10px 0;
  margin: 0;
  list-style: none;
  text-align: center;
  width: 100%;
}
.top-menu ul>li>a{
  text-transform: uppercase;
  font-size: 22px;
  color: white;
  width: 100%;
  display: block;

}
.top-menu ul>li>a:hover {
  color: red;
  cursor: pointer;
  background-color: rgba(255,255,255,.1);
  transition: 0.75s ease-in-out;
}
.top-wrapper{
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.top-descr{
  display: table-row;
}
.top-centred{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.top-text{
  display: inline-block;
}
.top-text h1{
  display: inline-block;
  padding: 10px 30px;
  color: white;
  border: 8px solid #fff;
  text-transform: uppercase;
  font-family: 800;
  animation-delay: 1s;

}
.top-text p{
  letter-spacing: 5px;
  color: rgb(250, 245, 245);
  animation-delay: 1.4s;
}
.h-opacity{
  opacity: 0.3;
}
.h-opacity:hover{
  transition: .99s ease-in-out;
}
section{
  padding: 70px 0px 80px;
}
section h3{
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 30px;
}
.bg-light{
  background-color: #FAFAFA;
}
section h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 0 15px;
}
.s-descr-wrap{
  text-align: center;
}
.section-header {
  margin-bottom: 120px;
}

.s-descr{
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  position: relative;
}
.s-descr::after{
  content: "";
  width: 150px;
  height: 1px;
  background-color: #222;
  left: 50%;
  margin-left: -75px;
  margin-top: 60px;
  position: absolute;
}
.bg-dark{
  background-color: #222;
  color: #fff;
}
.bg-dark .s-descr::after{
  background-color: #fff;
}
.bg-dark a{
  color: #fff;
}
.main-footer {
  padding: 50px 0 ;
  font-size: 13px;
  font-weight: 400;
}
.repson{
  text-align: center;
  margin-bottom: 35px;
  }
.repson img{
  max-width: 220px;
  display: inline-block;
  border-radius: 50%;
}
.s-about p{
  margin-bottom: 30px;
}
.s-about p:nth-child(even){
  color:#8238A7;
}
.col-md-4 ul>li{
  font-size: 12px;
  margin: 0;
  padding: 0px;
  list-style-type: none;
  color: #888;
  margin-bottom: 10px;
}
.col-md-4 h2{
  font-size: 13px;
  margin-bottom: 20px;
  color: #555;
}
.social-wrap{
  margin-top: 25px;
}
.social-wrap li{
  display: inline-block;
}
.social-wrap i{
  font-size: 20px;
  padding: 0 3px;
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close{
  cursor: pointer;
}
.row-content{
  padding-top: 110px;
}
.resume-container .left{
  text-align: right;
  border-right: #d2d2d2 1px solid;
}
.resume-container .left h3{
  text-align: right;
}
.resume-container .right{
  text-align: left;
}
.resume-container .right h3{
  text-align: left;
}
.resume-container h3{
  color: #222;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 30px;
}
.resume-icon{
  font-size: 40px;
  margin-bottom: 35px;
}
.year{
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 15px;
  background-color: #ff6347;
  color: #fff;
  font-weight: 600;
  font-style: italic;
  display: inline-block;
}
.year strong{
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
.resume-discription{
  font-style: italic;
  line-height: 1.6;
  color: #888;
  margin-bottom: 5px;
}
.left .resume-discription strong{
  margin-left: 10px;
}
.right .resume-discription strong{
  margin-left: 10px;
}
.resume-items p{
  margin-bottom: 40px;
}
.row ul>li{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 10px;
  cursor: pointer;
  color: #888;
  line-height: 2;
}
.row ul{
  text-align: center;
  margin-bottom: 50px;
  padding: 0;
  letter-spacing: 1px;
  
}
.row li.active{
  color: #fff;
  border-bottom: 1px solid #fff; 
}
.portfolio-item{
  display: none;
  padding: 0;
}
.portfolio-item img{
  width: 100%;
}
.port-item-cont{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  padding-top: 15%;
  text-align: center;
  opacity: 0;
  transition: all .5s;
}
.port-item-cont:hover{
  opacity: 1;
  padding: 20%;
}
.port-item-cont h3{
  color: #fff;
  margin-bottom: 0;
}
.port-item-cont a{
  background-color: transparent;
  border: 1px solid #fff;
  border-color: #8238A7;
  padding: 2px 10px;
  color: #8238A7;
  display: inline-block;
}
.port-discr{
  background-color: #fff;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  margin-bottom: 0;
}
.port-discr h3{
  margin-bottom: 10;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}
.port-discr p{
  margin-top: 0px;
}
.port-discr img{
  width: 100%;
  margin-top: 20px;
}
.box-cont{
  position: relative;
}
.mfp-close{
  position: relative;
  width: 97%;
  text-align: right;
}
#portfolio-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-md-footer{
  width: 50%;
}
.social-wrap-footer{
  display: flex;
  align-items: inherit;
  justify-content: flex-end;
  width: 50%;
  padding-right: 13px;
  margin-top: 0px;
}
.social-wrap-footer a{
  color: #ff6347;
}
.contact-box{
  margin-bottom: 30px;
}
.contact-box h3{
  text-align: left;
  color: #000;
  margin-bottom: 0px;
  font-size: 14px;
}
.contact-box p{
  margin-bottom: 5ex;
}
.contacts-icon{
  font-size: 30px; 
  color: #ff6347;
}
.text-danger{
  color: #ff6347;
}
input{
  border: 1px solid #ccc;
  display: block;
  width: 90%;
  margin-top: 5px;
  line-height: 40px;
  text-indent: 15px;
  font-size: 12px;
}
input:focus{
  border: 1px solid #ff6347;
}
textarea:focus{
  border: 1px solid #ff6347;
}
textarea{
  border: 1px solid #ccc;
  display: block;
  width: 90%;
  margin-top: 5px;
  line-height: 40px;
  text-indent: 15px;
  font-size: 12px;
}
.form-lable{
  color: #FAFAFA;
  border: none;
  background-color: #ff6347;
  line-height: 32px;
  padding: 0 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}
.form-group{
  display:  block;
}
.help-block ul>li{
  color: #ff6347;
}
.help-block ul{
  margin-bottom: 0;
  text-align: left;
}
